/*!
 * V4Fire Boilerplate
 * https://github.com/V4Fire/Boilerplate
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Boilerplate/blob/master/LICENSE
 */

@import "super/i-static-page/i-static-page.styl"

$p = {

}

p-root extends i-static-page
